{% extends 'blog/base.html' %}

{% block content %}
    {% load ospath %}
    {% for post in posts %}
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p class="date">{{ post.created_date|date:'d-m-Y' }}</p>
            <p>{{ post.text|truncatechars:200 }}</p>
            {% if post.photo %}
                <img src="{{ post.photo.url }}" alt="{{ post.photo.name|noext }}">
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}